#BarreMeteoHaut
{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  color: black;
  background-color: #CCC;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
}

#ButMeteoRetour
{
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-size: 46px 46px;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  cursor: pointer;
  background-image: url('imgGauche.png');
}

#ButMeteoGPSNew
{
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-size: 46px 46px;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  cursor: pointer;
  background-image: url('imgNewGPSBulletin.png');
}

#ButChoixEmplacement
{
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-size: 46px 46px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFF;
  overflow: hidden;
  cursor: pointer;
  font-size: 20px;
}

#ButGestionEmplacements
{
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-size: 46px 46px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #CFC;
  overflow: hidden;
  cursor: pointer;
  background-image: url('imgEmplacements.png');
}

#ButMeteoHeuresJours
{
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-size: 46px 46px;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  cursor: pointer;
  font-size: 20px;
  background-image: url('imgJoursHeures.png');
}

#scrMeteo
{
}

#TxtMeteoInfos
{
}

#TxtMeteo
{
}

/*------------------------------------------------------------------------------------------------*/
/* Tableau pour le résumé des jours */
.TableMeteoSemaine
{
  width: 100%;
  border-collapse: collapse; /* Fusionne les bordures des cellules */
  table-layout: fixed;
  text-align: center;
  border: 1px solid #CCC;
  background-color: #FFF;
  font-weight: normal;
}

/* Ligne entête simple largeur */
.RH
{
  border: 1px solid #CCC;
  background-color: #F2F2F2;
  width: 10%;
}

/* 1e colonne (Jours) */
.RCOL1
{
  border: 1px solid #CCC;
  background-color: #F2F2F2;
  width: 10%;
}

/* 2e colonne (Températures) */
.RCOL2
{
  border: 1px solid #CCC;
  background-color: #FFF;
  width: 10%;
}

/* Cellule normale */
.RN
{
  border: 1px solid #CCC;
  background-color: #FFF;
  font-weight: normal;
  width: 10%;
}



/*------------------------------------------------------------------------------------------------*/
/* Tableau pour les jours heure par heure */
.TableMeteoJours
{
  width: 100%;
  border-collapse: collapse; /* Fusionne les bordures des cellules */
  table-layout: fixed;
  text-align: center;
  border: 1px solid #CCC;
  background-color: #FFF;
}

/* Colonne Etat ciel */
.CIEL
{
  border: 1px solid #CCC;
  font-family: monospace;
}
.CIELHR
{
  border: 1px solid #CCC;
  font-family: monospace;
  background-color: #CFC;
}

/* Ligne entête (heures) */
.TH
{
  border: 1px solid #CCC;
  background-color: #F2F2F2;
  font-size: 0.9em;
  font-weight: bold;
  width: 10%;
}

/* Colonne Double */
.TH-DOUBLE
{
  border: 1px solid #CCC;
  background-color: #F2F2F2;
  font-size: 0.9em;
  font-weight: bold;
  width: 15%;
}



/* Style normal */
.NR
{
  border: 1px solid #CCC;
}

/* Style Heure */
.HR
{
  border: 1px solid #CCC;
  background-color: #CFC;
}

/* Rouge pour Tmax */
.RG
{
  border: 1px solid #CCC;
  background-color: #F00;
  color: #FFF;
}

/* Cyan pour Tmin */
.CY
{
  border: 1px solid #CCC;
  background-color: #08C;
  color: #FFF;
}

/* Bleu pour pluie */
.BF
{
  border: 1px solid #CCC;
  background-color: #00F;
  color: #FFF;
}

/* Bleu très foncé pour beaucoup de pluie */
.BTF
{
  border: 1px solid #CCC;
  background-color: #008;
  color: #FFF;
}

/* Bleu pour prévisions pluie */
.BC
{
  border: 1px solid #CCC;
  background-color: #CEF;
}

/* Si neige */
.NG
{
  border: 1px solid #CCC;
  background-color: #FCF;
}

/* Orange vent */
.VT
{
  border: 1px solid #CCC;
  background-color: #FFB;
}

#ButChoixEmplacementFermer
{
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: #008;
  font-size: 14px;
  color: white;
  text-align: center;
}

.itemEmplacement
{
  padding: 10px;
}

#ModalEmplacements
{
  position:fixed;
  top: 25px;
  left: 15%;
  width:70%;
  height:95%;
  background:white;
  color:black;
  z-index:1000;
  overflow-y:auto;
  border:2px solid #000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}