#BarreParamHaut
{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  color: black;
  background-color: #CCC;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
}

.ClassButParam
{
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-size: 46px 46px;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  cursor: pointer;
}

#ButParamAnnuler
{
  background-image: url('imgAnnuler.png');
}

#ButParamValider
{
  background-image: url('imgValider.png');
}

#ButParamPoliceAppliquer
{
}

.ZoneParamSaisie
{
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-family: sans-serif;
  color: blue;
}

#TxtCoordonnees
{
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-family: sans-serif;
  color: blue;
}

#ButCopierID
{
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: #008;
  font-size: 14px;
  color: white;
}

