#BarreReqHaut
{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  color: black;
  background-color: #CCC;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
}

#ButReqRetour
{
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-size: 46px 46px;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  cursor: pointer;
  background-image: url('imgGauche.png');
}

#TxtRequetes
{
  color: black;
}

#ButClearRequetes
{
  width: 75px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: red;
  color: white;
}

#ButEnvoiRequetes
{
  width: 75px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #008;
  color: white;
}