#BarreTraitChoix
{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  color: black;
  background-color: #CCC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
}

.classDot
{
  display:inline-block;
  text-align:center;
  vertical-align:top;

  width: 30px;
  height: 30px;
  background-color: #888;
  border: 1px solid #444;
  border-radius: 50%;
}

.classText
{
  display: inline-block;
  width: 80%;
  text-align: left;
  vertical-align: top;
}

.button-with-multiline-text
{
  width: 100%;
  text-align: center;
}

#ButTraitRetour
{
  width: 150px;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 20px;
  display: inline-block;
  background-color: #800;
  font-size: 14px;
  color: white;
}
